<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Itens emprestados:</h1><br>
    <ion-list no-lines>
        <ion-item *ngIf="emprestimos.length < 1">
          <ion-label text-center text-uppercase>Não há emprestimos</ion-label>
        </ion-item>
      <ion-item-sliding *ngFor="let equipamento of emprestimos">
        <ion-item (click)={}>
          <ion-label text-uppercase>{{equipamento.name}}</ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="devolver(equipamento)" color="danger">Devolver</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <h1>Itens disponíveis para emprestimos:</h1>
    <h1>Dell Vision</h1>
    <ul>
      <img (click)="emprestaMonitor()" src="assets/monitor.png" alt=""><br>
      <li>Modelo:</li>
      <ul>
        <li>Dell Vision 3</li>
        <li>24"</li>
        <li>110V</li>
      </ul>
      <li><h2>Disponíveis: {{monitor}}</h2></li>
    </ul><br>
    <h1>Notebook Dell Latitude</h1>
    <ul>
      <img (click)="emprestaNotebook()" src="assets/Notebook.jpg" alt=""><br>
      <li>Modelo:</li>
      <ul>
        <li>Dell Latitude 1029</li>
        <li>16"</li>
        <li>500 GB SSD</li>
      </ul>
      <li><h2>Disponíveis: {{notebook}}</h2></li>
    </ul><br>
    <h1>Dell Proj</h1>
    <ul>
      <img (click)="emprestaProjetor()" src="assets/Projetor.png" alt=""><br>
      <li>Modelo:</li>
      <ul>
        <li>Dell Proj 1</li>
        <li>300" Full HD</li>
        <li>110V</li>
      </ul>
      <li><h2>Disponíveis: {{projetor}}</h2></li>
    </ul><br>
    <h2>Cuide dos equipamentos do Campus e devolvam assim que terminar o uso.</h2>
</ion-content>
